In [1]:
p1 = "Joe"
p2 = "Sue"
p3 = "Ali"
p1_salary = 45000
p2_salary = 78000
p3_salary = 41000

average = (p1_salary + p2_salary + p3_salary) / 3
print(average)

41333.333333333336

In [3]:
salary = {}
salary["Joe"] = 45000
salary["Sue"] = 78000
salary["Ali"] = 41000
salary["Thomas"] = 55500
salary["Vivian"] = 61000
print(salary)

{'Joe': 45000, 'Sue': 78000, 'Ali': 41000, 'Thomas': 55500, 'Vivian': 61000}

In [13]:
salary = {'Joe'    : 45000, 
          'Sue'    : 78000, 
          'Ali'    : 41000, 
          'Thomas' : 55500, 
          'Vivian' : 61000}
print(salary)

{'Joe': 45000, 'Sue': 78000, 'Ali': 41000, 'Thomas': 55500, 'Vivian': 61000}

In [14]:
for key in salary:
    print(key)

Joe
Sue
Ali
Thomas
Vivian

In [17]:
for index, key in enumerate(salary):
    print(index, key)

0 Joe
1 Sue
2 Ali
3 Thomas
4 Vivian

In [16]:
for key, value in salary.items():
    print(key, value)

Joe 45000
Sue 78000
Ali 41000
Thomas 55500
Vivian 61000

In [20]:
theKeys = list(salary.keys())
print(theKeys)
theKeys.sort()
print(theKeys)

['Joe', 'Sue', 'Ali', 'Thomas', 'Vivian']
['Ali', 'Joe', 'Sue', 'Thomas', 'Vivian']

In [24]:
for key in theKeys:
    print(key, salary[key])

Ali 41000
Joe 45000
Sue 78000
Thomas 55500
Vivian 61000

In [34]:
theValues = list(salary.values())
print(theValues)
theValues.sort()
print(theValues)
average = sum(theValues)/len(theValues)
print(average)
maximum = max(theValues)
print(maximum)
for key, value in salary.items():
    if value == maximum:
        print(key)
    else:
        print("skip this one")

[45000, 78000, 41000, 55500, 61000]
[41000, 45000, 55500, 61000, 78000]
56100.0
78000
skip this one
Sue
skip this one
skip this one
skip this one

In [ ]:
list tuple dict(hashes)